{% extends 'lr/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <a href="{% url 'lr:index' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#fbd4b4; color:#aaaaaa; border-style: none; outline: none;"><span class="glyphicon glyphicon-home" style="color:#aaaaaa;"></span>首页</button></a>
    <a href="{% url 'lr:donation' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#fbd4b4; color:#aaaaaa; border-style: none; outline: none;"><span class="glyphicon glyphicon-heart" style="color:#aaaaaa;"></span>捐赠</button></a>
    <a href="{% url 'lr:request' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#fbd4b4; color:#aaaaaa; border-style: none; outline: none;"><span class="glyphicon glyphicon-envelope" style="color:#aaaaaa;"></span>求助</button></a>
    <a href="{% url 'lr:moneys' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#f79646; color:#000000; border-style: none; outline: none;"><span class="glyphicon glyphicon-tree-deciduous" style="color:#ff0000;"></span>爱心树</button></a>
    <a href="{% url 'lr:index' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#fbd4b4; color:#aaaaaa; border-style: none; outline: none;"><span class="glyphicon glyphicon-info-sign" style="color:#aaaaaa;"></span>本站说明</button></a>
{% endblock header %}



{% block content %}
    <script>

        window.addEventListener("load", function(){
            var obj = document.getElementById("myform")["id_moneyinout"];
            obj.addEventListener("change", function(){
                set_parentmoney();
                }, false);
            obj = null;
            }, false);
            
        function set_parentmoney(){
            if (document.getElementById("myform")["id_moneyinout"].selectedIndex == 0){
                document.getElementById("myform")["id_parentmoney"].selectedIndex = 0;
            };
        }
        
        function is_parentmoney (money_id){
            var XHR = new XMLHttpRequest();
            var v1 = moneyid;
            url = '/search_money_result/' + v1
            XHR.open('GET', url, false);
            XHR.send(null);
            document.getElementById("p1").innerHTML=XHR.responseText;
            
        }
    </script>    

    <div class="container" style="height: 625px;">

        <form id="myform" action="{% url 'lr:delete_money' money_id %}" class='form' method='post'>
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% if money.candelete %}
                {% buttons %}
                    <button name='submit' class="btn btn-primary form-button">删除</button>
                {% endbuttons %}
            {% else %}
                {% buttons %}
                    <button name='submit' disabled='disabled' title='已有关联的记录，不能删除。'  class="btn btn-primary form-button">删除</button>
                {% endbuttons %}
                
            {% endif %}
        </form>

    </div>

{% endblock content %}
