{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Love Relay - 爱心接力站</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        {% load static %}
        <div class="container" style="height: 190px; border-bottom: 1px solid #eeeeee;">
            <div class="row">
	    	    <div class="col-sm-2">
                    <img src="{% static 'loverelay logo.png' %}" class="img-responsive" alt="LoveRelay.com" width="150" height="150" style="position:absolute; top: 20px"></img>
                </div>
	    	    <div class="col-sm-2">
                    <img src="{% static 'website name.png' %}" class="img-responsive" alt="LoveRelay.com" width="193" height="60" style="position:absolute; top: 80px"></img>
                </div>
            </div>
        </div>

        <div class="container" style="height: 40px;">
            <div class="row">
	    	    <div class="col-sm-6">
                    <img src="{% static 'links.png' %}" class="img-responsive" alt="LoveRelay.com" width="350" height="30" style="position:absolute; top: 5px"></img>
                </div>
            </div>
        </div>

        <div class="container" style="height: 425px;">
            <div class="row">
	    	    <div class="col-sm-4">
                    <img src="{% static 'activities tree.png' %}" alt="LoveRelay.com" width="425" height="380" style="position:absolute; top: 20px;"></img>
                </div>
            </div>
        </div>

        <div class="container" style="height: 50px; border-bottom: 1px solid #eeeeee;">


            <form role="form" action="/users/login" method="post">
              <button type="submit" class="btn btn-primary">登录</button>
            </form>


        </div>

        <div class="container">
            <div class="row">
                <a href='https://www.loverelay.com' target='_self' style="color:#aaaaaa; font-size: 9px; text-align:center">LoveRelay版权所有  Copyright © 2018 LoveRelay, All Rights Reserved</a>
                <a href='http://www.miibeian.gov.cn' target='_blank' style="color:#aaaaaa; font-size: 9px; text-align:center">  鄂ICP备18016516号  </a>
                <a href='http://www.beian.gov.cn' target='_blank' style="color:#aaaaaa; font-size: 9px; text-align:center"><img src="{% static 'police.png' %}">鄂公网安备42011102002471号</a>
            </div>
	    </div>

    </body>

</html>

