{% extends 'lr/base.html' %}

{% block content %}

    <h3>Love Relay helps students to finish their education.</h3>
    <h3>We're looking forward to seeing you here, either you're a student or a philanthropist!</h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div style="width:300px;margin:0 auto; padding:20px 0;">
        <a href='http://www.miibeian.gov.cn' target='_blank'>鄂ICP备18016516号</a>
	    <a href='http://www.beian.gov.cn' target='_blank'>鄂公网安备42011102002471号</a>
	</div>

{% endblock content %}
