{% extends 'lr/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>Money <small><small><a href="{% url 'lr:new_money' %}">Add money</a></small></small></h2>
{% endblock header %}

{% block content %}
    
    <table class="table">
            <td width=150 align=right><b>Amount</b></td>
            <td width=150 align=right><b>User</b></td>
            <td width=150 align=right><b>Cashtype</b></td>
            <td width=15></td>
            <td width=350></td>
        
        {% for money in moneys %}
            <tr>
                <td width=150 align=right><h4>{{ money.amount }}</h4></td>
                <td width=150 align=right><h4>{{ money.user }}</h4></td>
                <td width=150 align=right><h4>{{ money.cashtype }}</h4></td>
                <td width=15><h4><small><a href="{% url 'lr:edit_money' money.id %}">edit</a></small></h4></td>
                {% if money.candelete %}
                    <td width=350><h4><small><a href="{% url 'lr:delete_money' money.id %}">delete</a></small></h4></td>
                {% else %}
                    <td width=350><h4><small><a href="{% url 'lr:delete_money' money.id %}" disabled='disabled' title='Parentmoney, not allowed to delete.'>delete</a></small></h4></td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td>No money has been added yet.</td>
            </tr>
        {% endfor %}
    </table>
   
{% endblock content %}
