{% extends 'lr/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <a href="{% url 'lr:index' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#fbd4b4; color:#aaaaaa; border-style: none; outline: none;"><span class="glyphicon glyphicon-home" style="color:#aaaaaa;"></span>首页</button></a>
    <a href="{% url 'lr:donation' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#fbd4b4; color:#aaaaaa; border-style: none; outline: none;"><span class="glyphicon glyphicon-heart" style="color:#aaaaaa;"></span>捐赠</button></a>
    <a href="{% url 'lr:request' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#f79646; color:#000000; border-style: none; outline: none;"><span class="glyphicon glyphicon-envelope" style="color:#ff0000;"></span>求助</button></a>
    <a href="{% url 'lr:moneys' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#fbd4b4; color:#aaaaaa; border-style: none; outline: none;"><span class="glyphicon glyphicon-list" style="color:#aaaaaa;"></span>爱心树</button></a>
    <a href="{% url 'lr:index' %}" style="position:relative; top: 5px"><button type="button" class="btn btn-primary btn-xs" style="background:#fbd4b4; color:#aaaaaa; border-style: none; outline: none;"><span class="glyphicon glyphicon-usd" style="color:#aaaaaa;"></span>本站说明</button></a>
{% endblock header %}

{% block content %}
    
    <div class="container" style="height: 625px;">
        <form action="{% url 'lr:request' %}" class='form' method='post'>
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% buttons %}
                <button name='submit'>提交申请</button>
            {% endbuttons %}
        </form>
    </div>
    
{% endblock content %}
