<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>learning Ajax</title>


</head>

<body>
<script>

function search_money(){
    var XHR = new XMLHttpRequest();
    var v1=document.getElementById("moneyid").value;
    url = '/edit_money/' + v1
    XHR.open('GET', url, false);
    XHR.send(null);
    document.getElementById("p1").innerHTML=XHR.responseText;
/*
    alert(XHR.status);
    alert('ok')

//    sleep(1)
//    document.getElementById("p1").innerHTML="XHR.responseText";
    XHR.open('GET','/search_money/(?P<v1>\d+)/$', True);
//    XHR.onreadystatechange=returnFun;
    XHR.send(null);
*/
}

/*
function returnFun(){
    if(XHR.readyState==1){
        document.getElementById("moneyid").innerHTML='Loding...';
    }else if(XHR.readyState==4){
        if(XHR.status==200){
            document.getElementById("moneyid")innerHTML=XHR.responseText;
        }
        XHR=null;
    }
}
*/

</script>

<label for="moneyid">MoneyID</label>
<input placeholder="input money id here" id="moneyid" name="moneyid" type="text">
<button type="button" id="search" name="search" onclick="search_money()">search</button>
<p id="p1">search_result</p>

</body>

</html>


        function showpic(){
            var money_id = document.getElementById("money_id").innerHTML.replace(/<.+?>/gim,'');
            var imgsrc = "{% url 'lr:makegraph' 111111 222222 %}";
            imgsrc = imgsrc.replace('111111', money_id);
            imgsrc = imgsrc.replace('222222', parseInt(Math.random()*10000));
            var para=document.createElement("img");
            para.src = imgsrc;
            para.width = 150;
            para.height = 120;
            document.body.appendChild(para);
            };


            var money_id = parseInt(document.getElementById("money_id").innerHTML.replace(/<.+?>/gim,''));
            var at_id = parseInt(Math.random()*10000)；
            var imgsrc = "{% url 'lr:makegraph' m1 m2 %}";
            alert(imgsrc);
            var para=document.createElement("img");
            para.src = imgsrc;
            para.width = 150;
            para.height = 120;
            document.body.appendChild(para);


        function showpic(){
            var img = document.getElementById("trackimage");
            if (img.style.display=='none'){
                img.style.display='block';
                this.innerHtml='hide picture';};
            else {
                img.style.display=='none';
                this.innerHtml='show picture';};
            alert(img);
            };

